@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply text-[87.5%] md:text-[100%]
}
body{
  @apply bg-base-background text-base-text w-screen;
  -webkit-font-smoothing: antialiased;
}
*{
  @apply focus:outline-none focus:shadow-none focus:shadow-purple-900
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none; 
  margin: 0; 
}